/* h1{
    background-color: aliceblue;
} */

/* #card1:hover{
    cursor: pointer;
    #btn1{
        background-color: #4A2C2A;
    }
} */
#card1:hover{
    #btn1{
        background-color: #4A2C2A;
    }
    cursor: pointer;
    transform: translateY(6px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.50);
  }
/* #card2:hover{
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    #btn2{
        background-color: #4A2C2A;
    }
}
#card3:hover{
    transform: translateY(3px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    #btn3{
        background-color: #4A2C2A;
    }
} */
ul{
    list-style: none;
    
}
.navv{
        display: block;
        list-style: none;
        text-decoration: none;
        color: #4A2C2A;
    }