<nav class="navbar navbar-expand-lg navbar-dark p-3" style="background-color: #4A2C2A;">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="#" style="font-size: 30px;"> &nbsp;&nbsp;<span><i class="fa-solid fa-mug-hot" style="color: azure; font-size: 30px;"></i></span>&nbsp;</a>
      <!-- <a class="navbar-brand d-flex" href="#" style="font-size: 30px;"> &nbsp;&nbsp;<span style="color: azure; font-size: 20px;">LOGOUT</span>&nbsp;</a> -->
      <div class="navbar-collapse d-flex justify-content-end">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav mr-auto mt-md-0">
          <!-- This is  -->
  
          <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler  waves-effect waves-dark"
              href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        </ul>
        <!-- ============================================================== -->
        <!-- User profile and search -->
        <!-- ============================================================== -->
        <ul class="navbar-nav my-lg-0">
          <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
            <a ngbDropdownToggle class="nav-link dropdown-toggle  waves-effect"
              href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 24px; color: white;">
              Welcome, {{value}}
              <span class="mdi mdi-chevron-down"></span></a>
            <div class="dropdown-menu dropdown-menu-right animated slideInDown" ngbDropdownMenu>
              <ul class="dropdown-user">
                <!-- <li ><a><i class="ti-user"></i> View Profile</a></li> -->
                <li ><a class="navv" (click)="OnLogout()"><i class="fa fa-power-off"></i> Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="dropdown"> -->
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button> -->
        <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      <!-- </div> -->
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container-fluid">
            
        </div>
      </div> -->
    </div>
</nav>
<div class="container-fluid back p-5">
    <div class="row p-5">
        <div class="col-md-4 mt-5">
            <div class="card shadow" style="width: 20rem; height: 18rem;" id="card1" >
                <div class="card-body">
                   
                  <h2 class="card-title d-flex justify-content-center mt-5">
                    <span><i class="fa-solid fa-plus"></i></span>
                    <b>&nbsp; Add Records</b></h2>
                  <hr>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="d-flex justify-content-center mt-4">
                      <a href="#" class="btn btn-secondary" id="btn1" routerLink="/view">Insert</a>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow" style="width: 20rem; height: 18rem;" id="card1">
                <div class="card-body">
                    <h2 class="card-title d-flex justify-content-center mt-5">
                        <span><i class="fa-solid fa-address-book"></i></span><b>&nbsp;View Records</b></h2>
                    <hr>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="d-flex justify-content-center mt-4">
                    <a href="#" class="btn btn-secondary" id="btn1">View</a>
                </div>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card shadow" style="width: 20rem; height: 18rem;" id="card1">
                <div class="card-body">
                    <h2 class="card-title d-flex justify-content-center mt-5">
                        <span><i class="fa-solid fa-pen"></i></span><b>&nbsp;Update Records</b></h2>
                    <hr>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <div class="d-flex justify-content-center mt-4" >
                    <a href="#" class="btn btn-secondary" id="btn1">Update</a>
                </div>
                </div>
              </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6">
            
        </div>
    </div> -->

</div>