input.ng-invalid.ng-touched
{
  border:2px solid red;
}

.navv{
  display: block;
  list-style: none;
  text-decoration: none;
  color: red;
}
.back{
  background-image: url('../../assets/images/converted.jpg');
}